<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>RouteMemories - Admin</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
            <img src="../static/Images/Logo.jpg" alt="Logo Rota das Memórias">
        </div>
        <h1>Página do Administrador</h1>
        <button onclick="logout()">Sair</button>
        </div>
    </header>

    <main>
    <!-- Conteúdo da página de administração -->
    <h1>PÁGINA DO ADMINISTRADOR</h1>
    </main>
    
    <footer>
    <!-- Botões de funcionalidades -->
    </footer>
</body>
</html>


