<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>RouteMemories - Condolence Message</title>
</head>
    <body>
        <header>
            <div class="header">
                <div class="logo">
                <img src="../static/Images/Logo.jpg" alt="Logo Rota das Memórias">
                </div>
                <h1>Mensagens de Condolências</h1>
                <button onclick="logout()">Sair</button>
            </div>
        </header>

        <main>
    <!-- Formulário para enviar mensagem de condolências -->
        <h1>PAGINA DE CONDOLÊNCIAS</h1>
        </main>
    
        <footer>
            <!-- Botões de funcionalidades -->
        </footer>
    </body>
</html>